* {
	margin: 0;
	padding: 0
}

body {
	font-size: 14px;
	font-family: "宋体", "微软雅黑";
	min-height: 597px;
	min-width: 800px;
	background-color: aliceblue;
}

ul, li {
	list-style: none;
}

a:link, a:visited {
	text-decoration: none;
}

.list {
	float: left;
	position: relative;
	left: 5px;
	top: 0px;
	width: 260px;
	border-bottom: solid 1px darkcyan;
	background-color: darkcyan;
	display: inline;
}

iframe {
	position: relative;
	display: inline;
	left: 10px;
	top: 0px;
}

.list ul li {
	background-color: cadetblue;
	border: solid 1px darkcyan;
	border-bottom: 0;
}

.list ul li a {
	padding-left: 20px;
	color: #fff;
	font-size: 14px;
	display: block;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	position: relative;
}

.list ul li ul {
	display: none;
}

.list ul li ul li {
	border-left: 0;
	border-right: 0;
	background-color: cadetblue;
	border-color: darkcyan;
}

.list ul li ul li ul {
	display: none;
}

.list ul li ul li a {
	padding-left: 20px;
}

.list ul li .inactive {
	background: url(../images/off.png) no-repeat 184px center;
}

.list ul li .inactives {
	background: url(../images/on.png) no-repeat 184px center;
}

.list ul li ul li ul li {
	background-color: cadetblue;
	border-color: darkcyan;
}

.last {
	background-color: darkcyan;
	border-color: darkcyan;
}

.list ul li ul li ul li a {
	color: cadetblue;
	padding-left: 30px;
}